/Documents/Research/Dissertation/04_Resilience/data
/Documents/Research/Dissertation/04_Resilience/archive
/Documents/Research/Dissertation/04_Resilience/exploration_old
/Documents/Research/Dissertation/04_Resilience/writing
